<section>
  <div class="rt-container">
    <div class="col-rt-12">
      <!-- Slider -->
      <div id="slider">
        <div class="slides">
          <div class="slider">
            <div class="content">
              <div class="content-txt">
                <h2>Lorem ipsum dolor</h2>
                <p>
                  Nam ultrices pellentesque facilisis. In semper tellus mollis
                  nisl pulvinar vitae vulputate lorem consequat. Fusce odio
                  tortor, pretium sit amet auctor ut, ultrices vel nibh.
                </p>
              </div>
            </div>
            <div class="image">
              <img
                src="https://cdn.pixabay.com/photo/2017/08/06/22/52/blouse-2597205_960_720.jpg"
              />
            </div>
          </div>

          <div class="slider">
            <div class="content">
              <div class="content-txt">
                <h2>Lorem ipsum dolor</h2>
                <p>
                  Nam ultrices pellentesque facilisis. In semper tellus mollis
                  nisl pulvinar vitae vulputate lorem consequat. Fusce odio
                  tortor, pretium sit amet auctor ut, ultrices vel nibh.
                </p>
              </div>
            </div>

            <div class="image">
              <img
                src="https://cdn.pixabay.com/photo/2018/05/23/10/42/laptop-3423713_960_720.png"
              />
            </div>
          </div>

          <!--  -->

          <div class="slider">
            <div class="content">
              <div class="content-txt">
                <h2>Lorem ipsum dolor</h2>
                <p>
                  Nam ultrices pellentesque facilisis. In semper tellus mollis
                  nisl pulvinar vitae vulputate lorem consequat. Fusce odio
                  tortor, pretium sit amet auctor ut, ultrices vel nibh.
                </p>
              </div>
            </div>
            <div class="image">
              <img
                src="https://cdn.pixabay.com/photo/2016/11/25/22/21/cadillac-1859508_960_720.jpg"
              />
            </div>
          </div>
          <div class="slider">
            <!--  -->

            <div class="content">
              <div class="content-txt">
                <h2>Lorem ipsum dolor</h2>
                <p>
                  Nam ultrices pellentesque facilisis. In semper tellus mollis
                  nisl pulvinar vitae vulputate lorem consequat. Fusce odio
                  tortor, pretium sit amet auctor ut, ultrices vel nibh.
                </p>
              </div>
            </div>
            <div class="image">
              <img
                src="https://cdn.pixabay.com/photo/2018/02/13/06/59/smartphone-3149992_960_720.jpg"
              />
            </div>
          </div>
        </div>
        <div class="switch">
          <ul>
            <li>
              <div class="on"></div>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #eee; padding: 10px">
  <div class="container" style="margin: 40px; margin-left: 200px">
    <div class="row">
      <div class="col-md-3">
        <div class="card-sl" style="margin-left: 50px; margin-bottom: 20px">
          <div class="card-image">
            <img src="/assets/imagesSlider/lap1.png" />
          </div>

          <a class="card-action" href="#"
            ><i
              ><img
                src="/assets/imagesSlider/heart.png"
                style="width: 20px; height: 20px" /></i
          ></a>
          <div class="card-heading">Lap Top</div>

          <a href="/products/category/2" class="card-button">
            Show All Products</a
          >
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-sl" style="margin-left: 50px; margin-bottom: 20px">
          <div class="card-image">
            <img
              src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            />
          </div>

          <a class="card-action" href="#"
            ><i
              ><img
                src="/assets/imagesSlider/heart.png"
                style="width: 20px; height: 20px" /></i
          ></a>
          <div class="card-heading">Cars</div>

          <a href="/products/category/1" class="card-button">
            Show All Products</a
          >
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-sl" style="margin-left: 50px; margin-bottom: 20px">
          <div class="card-image">
            <img src="/assets/imagesSlider/11.jpg" />
          </div>

          <a class="card-action" href="#"
            ><i
              ><img
                src="/assets/imagesSlider/heart.png"
                style="width: 20px; height: 20px" /></i
          ></a>
          <div class="card-heading">Clothes</div>

          <a href="/products/category/3" class="card-button">
            Show All Products</a
          >
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-sl" style="margin-left: 50px; margin-bottom: 20px">
          <div class="card-image">
            <img src="/assets/imagesSlider/12.jpg" />
          </div>

          <a class="card-action" href="#"
            ><i
              ><img
                src="/assets/imagesSlider/heart.png"
                style="width: 20px; height: 20px" /></i
          ></a>
          <div class="card-heading">Cars</div>

          <a href="/products/category/1" class="card-button">
            Show All Products</a
          >
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-sl" style="margin-left: 50px; margin-bottom: 20px">
          <div class="card-image">
            <img src="https://i.insider.com/57c86b9209d29330008b5aa8?width=600&format=jpeg&auto=webp" />
          </div>

          <a class="card-action" href="#"
            ><i
              ><img
                src="/assets/imagesSlider/heart.png"
                style="width: 20px; height: 20px" /></i
          ></a>
          <div class="card-heading">Lap Top</div>

          <a href="/products/category/2" class="card-button">
            Show All Products</a
          >
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-sl" style="margin-left: 50px; margin-bottom: 20px">
          <div class="card-image">
            <img src="/assets/imagesSlider/17.jpg" />
          </div>

          <a class="card-action" href="#"
            ><i
              ><img
                src="/assets/imagesSlider/heart.png"
                style="width: 20px; height: 20px" /></i
          ></a>
          <div class="card-heading">Phones</div>

          <a href="/products/category/4" class="card-button">
            Show All Products</a
          >
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-sl" style="margin-left: 50px; margin-bottom: 20px">
          <div class="card-image" >
            <img style="height: 210px;" src="https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
          </div>

          <a class="card-action" href="#"
            ><i
              ><img
                src="/assets/imagesSlider/heart.png"
                style="width: 20px; height: 20px" /></i
          ></a>
          <div class="card-heading">Clothes</div>

          <a href="/products/category/3" class="card-button">
            Show All Products</a
          >
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-sl" style="margin-left: 50px; margin-bottom: 20px">
          <div class="card-image">
            <img src="/assets/imagesSlider/17.jpg" />
          </div>

          <a class="card-action" href="#"
            ><i
              ><img
                src="/assets/imagesSlider/heart.png"
                style="width: 20px; height: 20px" /></i
          ></a>
          <div class="card-heading">Phones</div>

          <a href="/products/category/4" class="card-button">
            Show All Products</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!--logo -->

<!-- <div class="c">Team</div> -->
