<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn  btn-floating m-1" href="https://www.facebook.com/" target="_blank" role="button"><i><img src="/assets/imagesSlider/face.png" style="width: 30px;height: 30px; "/></i></a>

      <!-- Twitter -->
      <a class="btn  btn-floating m-1" href="https://www.instagram.com/?msclkid=ba0d99d2c1b011ec981e5298e68a7554"  target="_blank" role="button"><i ><img src="/assets/imagesSlider/instaa.png" style="width: 30px;height: 30px;"/></i></a>

      <!-- Google -->
      <a class="btn  btn-floating m-1" href="https://www.linkedin.com/?msclkid=c47230bdc1b011ec9b3c4da1864ef49c" target="_blank" role="button"><i><img src="/assets/imagesSlider/linkedin.jpeg" style="width: 30px;height: 30px; border-radius: 50%;"/></i></a>

      <!-- Instagram -->
      <a class="btn  btn-floating m-1" href="https://twitter.com/?msclkid=c01e814ac1b011ec996811e5cef28db4" target="_blank" role="button"><i><img src="/assets/imagesSlider/tw.png" style="width: 30px;height: 30px;"/></i></a>


      <a class="btn  btn-floating m-1" href="https://www.youtube.com/" target="_blank" role="button"><i><img src="/assets/imagesSlider/youtube.png" style="width: 30px;height: 30px;"/></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
